<div class="container">
  <div class="example-form row">
    <div class="rosen-logo"></div>
    <app-error-field [displayError]="errorMessage"
                     [errorMessage]="errorMessage">
    </app-error-field>
    <form [formGroup]="loginForm" >
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email"
               formControlName="username"
               (focus)="onFocus(username)">
        <mat-error>
          <app-error-field [displayError]="isFieldInvalid(username)"
                           [errorCode]="username.errors" >
          </app-error-field>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Password"
               formControlName="password"
               (focus)="onFocus(password)">
        <mat-error>
          <app-error-field [displayError]="isFieldInvalid(password)"
                           [errorCode]="password.errors">
          </app-error-field>
        </mat-error>
      </mat-form-field>
      <mat-checkbox formControlName="checkbox" class="checkbox">
        Remember me
      </mat-checkbox>
      <div class="offset-md-2">
        <!-- <button mat-raised-button >Login</button> -->
        <button mat-raised-button (click)="loginWithEmail()"
                [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
  </div>
</div>
